@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

// VARIABLES

$font-family: 'Bai Jamjuree', sans-serif;
$btn1-color: hsl(171, 66%, 44%);
$btn2-color: hsl(233, 100%, 69%);
$heading-color: hsl(210, 10%, 33%);
$text-color: hsl(201, 11%, 66%);
$white: hsla(360, 100%, 100%, 1);